node_modules/
*.log
client-dev.log
client-dev.err.log
server-dev.log
server-dev.err.log
server/node_modules/
client/node_modules/
server/.env
client/.env
server/data/db.json
dist/
source-server/node_modules/
source-server/.env
source-server/data/db.json
source-server/ui/node_modules/
source-server/ui/.env
source-server/ui/dist/
viewer-client/node_modules/
viewer-client/.env
